[submodule "modules/less"]
	path = modules/less
	url = https://github.com/cloudhead/less.js.git
[submodule "modules/lodash"]
	path = modules/lodash
	url = https://github.com/lodash/lodash.git
[submodule "modules/foliage"]
	path = modules/foliage
	url = https://github.com/herbalism/foliage.git
[submodule "modules/phloem"]
	path = modules/phloem
	url = https://github.com/herbalism/phloem.git
[submodule "modules/blossom"]
	path = modules/blossom
	url = https://github.com/herbalism/blossom.git
[submodule "modules/bud"]
	path = modules/bud
	url = https://github.com/herbalism/bud.git
[submodule "modules/curl"]
	path = modules/curl
	url = https://github.com/cujojs/curl.git
[submodule "modules/when"]
	path = modules/when
	url = https://github.com/cujojs/when.git
[submodule "modules/bootstrap"]
	path = modules/bootstrap
	url = https://github.com/twitter/bootstrap.git
